.mat-cell {
  font-size: 12px !important;
  word-wrap: break-word;
  margin-right: 10px !important;
}
table {
  width: 100%;
}

td,
th {
  width: 5%;
}
td {
  font-size: 12px;
}
th {
  color: rgb(116, 92, 223);
}
