.flex-item-2 {
  width: 250px;
  margin: 7px;
  padding: 5px !important;
}

.mat-option {
  line-height: 1.1em !important;
  height: 3em;
  white-space: normal !important;

  .mat-option-text {
    white-space: normal !important;
  }
}
