<ng-container *ngIf="files.length == 0">
  <mat-label>{{ title }}</mat-label>
  <div class="container single-file">
    <input
      type="file"
      #fileDropRef
      id="fileDropRef"
      (change)="fileBrowseHandler($event)"
      class="pointer"
    />

    <button mat-raised-button color="primary" for="fileDropRef" class="pointer">
      Browse
    </button>
  </div>
</ng-container>
<ng-container *ngIf="files.length > 0">
  <div class="files-list">
    <mat-label>{{ title }}</mat-label>
    <div class="single-file" *ngFor="let file of files; let i = index">
      <!-- <div class="file-icon" style="width: 50px">
        <mat-icon class="material-icons-outlined"> file_present </mat-icon>
      </div> -->
      <div class="info">
        <h4 class="name">
          {{ file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
        <app-progress [progress]="file?.progress"></app-progress>
      </div>

      <div class="delete" (click)="openDialog(i)" *ngIf="enablesubmit">
        <mat-icon>delete</mat-icon>
      </div>
    </div>
  </div>
</ng-container>
