.pointer {
  color: white;
}
a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.material-icons {
  font-size: 18px;
}
.lastsignIn {
  font-size: 12px;
}
.lastsignIn > mat-label {
  color: rgba(0, 0, 0, 0.54) !important;
}
