.mat-icon,
.mat-icon-button {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.4rem;
}
td {
  font-size: 12px;
}
th {
  color: rgb(116, 92, 223);
}

.table-margin {
  margin-top: 1.5rem;
}
.btn-align {
  height: 38px !important;
  margin: 0 0.5rem;
  width: 80px !important;
}
.checkBox {
  margin: 1rem;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
