.radio-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}
.flex-item {
  margin: 5px;
  width: 200px;
}
.matcheck {
  display: flex;
  font-size: 12px;
  // justify-content: center;
  align-items: center;
}
