<h4 mat-dialog-title class="title">Forgot Password</h4>
<form [formGroup]="form" autocomplete="off">
  <mat-dialog-content>
    <div class="flex-container">
      <p
        class="flex-item"
        style="
    text-align: justify;
    align-self: center;
    width: 165px;
    margin-right: 10px;
"
      >
        Kindly provide the email address where the new Passsword should be sent
      </p>
      <mat-form-field class="flex-item">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" />
        <mat-icon matPrefix> mail</mat-icon>
        <!-- <mat-error>
          <span
            *ngIf="form.controls.Email.touched && form.controls.Email.invalid"
          >
            Please Enter Email</span
          >
        </mat-error> -->
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions align="end" class="float-right">
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="generateForgotPasword()"
      [disabled]="form.controls.Email.invalid"
    >
      Submit
    </button>
    <button mat-button color="primary" [mat-dialog-close]>Cancel</button>
  </div>
</form>
