.flex-container {
  justify-content: flex-start;
}
.flex-item {
  justify-self: flex-end;
}
.red {
  color: red;
}
.green {
  color: green;
}
.space {
  height: auto;
  margin: 10px;
}

.mat-elevation-z2 {
  width: 100%;
  margin-top: 10px;
}
table {
  width: 100%;
}
