.flex-container {
  justify-content: center;
}
.flex-item {
  justify-self: flex-end;
}
.red {
  color: red;
}
.green {
  color: green;
}
a {
  text-decoration: underline;
  color: blue;
  font-size: 10px;
}
